<h2>Moving Averages Strategy</h2>
<div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle"></i>
        This trading strategy seeks to take advantage of short-term trends in a stock’s price. 
        A "long average" of market prices is calculated over a longer period of time, and a 
        "short average" is calculated over a shorter period of time. Trends in these 
        averages can be monitored on the <a routerLink="/analysis">Analysis page</a>. The trigger for this strategy is when 
        the short average “crosses” the long average: that
is, when it was below the long average a moment ago, and now it is above the long
average, or vice-versa. When the short average crosses above the long, it’s time to buy;
if it crosses below, it’s time to sell. Trades are placed and recorded. 


</div>
<h4>Start your trades: </h4>
<form class="form-inline">
    <div class="form-group">
        <label for="stock_id" style="margin-right:5px">Stock Ticker:</label>
        <input
            type="text"
            class="form-control"
            id="ticker_name"
            [(ngModel)]="ticker_name"
            name="ticker_name"
            style="margin-right:10px"
        >
    </div>
    <div class="form-group">
        <label for="size" style="margin-right:5px">Size:</label>
        <input
            type="number" 
            class="form-control" 
            id="size" 
            [(ngModel)]="size" 
            name="size"
            style="margin-right:10px"
        >
    </div>
    <div class="form-group">
        <label for="exit_profit_loss" style="margin-right:5px">Exit profit/loss (%):</label>
        <input 
            type="number" 
            class="form-control" 
            id="exit_profit_loss" 
            [(ngModel)]="exit_profit_loss"
            name="exit_profit_loss"
            style="margin-right:10px"
        >
    </div>
    <button (click)="handleClick()" class="btn btn-success">GO!</button>
</form>

<hr>

<ngb-tabset>
    <ngb-tab title="AAPL">
        <ng-template ngbTabContent>
            <br>
            <table style="width:30%; margin-left:20px;" class="table table-bordered">
                <tr>
                <td>Profit:</td>
                <td class="p-3 mb-2 bg-info text-white"></td>
                <td><button (click)="stopTrades()" class="btn btn-danger">Stop Trade</button></td>
                </tr>
            </table>
            <div class="card">
                <div class="card-body">      
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Stock Ticker</th>
                                <th scope="col" style="text-align:center">Type</th>
                                <th scope="col">Price</th>
                                <th scope="col">Size</th>
                                <th scope="col">Last Change</th>
                                <th scope="col">State</th>
                            </tr>
                        </thead>
                        <tbody *ngFor='let trade of trades'>
                            <tr *ngIf='(trade.stockTicker == "AAPL")'>
                                <td>{{ trade.id }}</td>
                                <td>{{ trade.stockTicker }}</td>
                                <div *ngIf='trade.tradeType=="BUY"'>
                                    <td class="bg-success text-white">
                                            {{ trade.tradeType }}
                                    </td>
                                </div>
                                <div *ngIf='trade.tradeType=="SELL"'>
                                    <td class="bg-danger text-white">
                                            {{ trade.tradeType }}
                                    </td>
                                </div>
                                <td>{{ trade.price }}</td>
                                <td>{{ trade.size }}</td>
                                <td>{{ trade.lastStateChange | date: 'medium' }}</td>
                                <div *ngIf='trade.state=="FILLED"'>
                                    <td class="p-3 mb-2 bg-success text-white">
                                            {{ trade.state }}
                                    </td>
                                </div>
                                <div *ngIf='trade.state=="REJECTED"'>
                                    <td class="p-3 mb-2 bg-danger text-white">
                                            {{ trade.state }}
                                    </td>
                                </div>
                                <div *ngIf='trade.state=="WAITING_FOR_REPLY"'>
                                    <td class="p-3 mb-2 bg-warning text-dark">
                                            {{ trade.state }}
                                    </td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="GOOG">
        <ng-template ngbTabContent>
            <div class="card my-5">
                <div class="card-body">      
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Stock Ticker</th>
                        <th scope="col">Type</th>
                        <th scope="col">Price</th>
                        <th scope="col">Size</th>
                        <th scope="col">Last Change</th>
                    </tr>
                    </thead>
                    <tbody *ngFor='let trade of trades'>
                    <tr *ngIf='(trade.stockTicker == "GOOG")'>
                        <td>{{ trade.id }}</td>
                        <td>{{ trade.stockTicker }}</td>
                        <td>{{ trade.tradeType }}</td>
                        <td>{{ trade.price }}</td>
                        <td>{{ trade.size }}</td>
                        <td>{{ trade.lastStateChange | date: 'medium' }}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="MSFT">
        <ng-template ngbTabContent>
            <div class="card my-5">
                <div class="card-body">      
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Stock Ticker</th>
                        <th scope="col">Type</th>
                        <th scope="col">Price</th>
                        <th scope="col">Size</th>
                        <th scope="col">Last Change</th>
                    </tr>
                    </thead>
                    <tbody *ngFor='let trade of trades'>
                    <tr *ngIf='(trade.stockTicker == "MSFT")'>
                        <td>{{ trade.id }}</td>
                        <td>{{ trade.stockTicker }}</td>
                        <td>{{ trade.tradeType }}</td>
                        <td>{{ trade.price }}</td>
                        <td>{{ trade.size }}</td>
                        <td>{{ trade.lastStateChange | date: 'medium' }}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Other">
        <ng-template ngbTabContent>
            <div class="card my-5">
                <div class="card-body">      
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Stock Ticker</th>
                        <th scope="col">Type</th>
                        <th scope="col">Price</th>
                        <th scope="col">Size</th>
                        <th scope="col">Last Change</th>
                    </tr>
                    </thead>
                    <tbody *ngFor='let trade of trades'>
                    <tr *ngIf='(trade.stockTicker != "AAPL" && trade.stockTicker != "GOOG" && trade.stockTicker != "MSFT" )'>
                        <td>{{ trade.id }}</td>
                        <td>{{ trade.stockTicker }}</td>
                        <td>{{ trade.tradeType }}</td>
                        <td>{{ trade.price }}</td>
                        <td>{{ trade.size }}</td>
                        <td>{{ trade.lastStateChange | date: 'medium' }}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
