
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row" style="margin: auto">
        <div class="card border-primary" style="width: 24%; margin-right:5px; height:100px">
            <div class="card-body text-primary">
              <h5 class="card-title">AAPL</h5>
              <p class="card-text" *ngFor='let aaplPrice of aaplPrices'>
                {{ aaplPrice.price | currency:'GBP' }}
              </p>
            </div>
          </div>  
      <div class="card border-secondary" style="width: 24%; margin-right:5px; height:100px">
            <div class="card-body text-secondary">
              <h5 class="card-title">MSFT</h5>
              <p class="card-text" *ngFor='let msftPrice of msftPrices'>
                {{ msftPrice.price | currency:'GBP' }}
              </p>
            </div>
          </div>
          <div class="card border-success" style="width: 24%; margin-right:5px">
            <div class="card-body text-success">
              <h5 class="card-title">GOOG</h5>
              <p class="card-text" *ngFor='let googPrice of googPrices'>
                {{ googPrice.price | currency:'GBP' }}
              </p>
            </div>
          </div>
          <div class="card border-danger" style="width: 24%; margin-right:5px">
            <div class="card-body text-danger">
              <h5 class="card-title">NSC</h5>
              <p class="card-text" *ngFor='let nscPrice of nscPrices'>
                {{ nscPrice.price | currency:'GBP' }}
              </p>
            </div>
          </div>
      </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
          <div style="display: block">
            <canvas baseChart
                [datasets]="barChartAaplData"
                [labels]="barChartAaplLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
            </canvas>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartMsftData"
                    [labels]="barChartMsftLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div style="display: block">
            <canvas baseChart
                [datasets]="barChartGoogData"
                [labels]="barChartGoogLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
            </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

