
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">Synergy Trades</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/" class="btn btn-info">Strategy</a></li>
            <li class="list-inline-item"><a routerLink="/analysis" class="btn btn-info">Analysis</a></li>
          </ul>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>